
*{
	margin right: 0px;
	padding: 0px;
}
.viewport{
	zoom: 1;
	width: extend to zoom;
}


body{
	background-image: url(3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	scroll-behavior: smooth;
}
nav{
	font-size: 35px;
	font-family: sans-serif;
	color: black;
	text-transform: uppercase;
	background: white;

}
li{
	float: left;
	list-style: none;
	padding-right: 40px;
	margin-right: 5px;
	text-align: center;
	

}
.Welcome{
	position: absolute;
	left: 30%;
	top: 20%;
	color: orange;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration:double;
	font-family: sans-serif;
	
}
li:hover{
	background-color: green;
	transition-duration: 20ms;
	align-items: center;
	animation: 10ms;
}
li :hover li{
	display: inline;
}


